<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>Simple example - Editor.md examples</title>
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/editormd.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css"/>
    <link rel="stylesheet" href="../static/css/editormd.css"/>
    <link rel="stylesheet" href="../static/css/all.css"/>
    <link rel="stylesheet" href="../static/css/editor.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/tagcss.css">
    <script src="../static/js/tagsinput.js" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
    <style>
        .header-img {
            border-radius: 50%;
        }

        .header-div-img {
            /*left: 60px;
            position: absolute;*/
            margin-left: 30px;
            display: inline-block;
        }

        .header-div {
            margin-left: 10px;
            display: inline-block;
        }
    </style>
</head>
<body>
<div id="layout">
    <div>

        <!--  <li class="header-div"><a class="headlink" href="skill.jsp">技术</a></li>-->
        <div class="header-div-img">
            <img class="header-img" src="../static/images/logo.jpg" width="42" height="42">
        </div>
        <div class="header-div">
            <h2>啊徐呀</h2>
        </div>
        <div id="writeArticle">
            <div class="zhy-editor">
                <div class="zhy-editor-input">
                    <input id="zhy-editor-title" type="text" placeholder="输入文章标题">
                    <button type="button" class="publishBtn" onclick="ShowDiv('my-alert','fade')">发布博客</button>
                </div>
            </div>
            <div class="zhy-editor-writing">
                <!--MarkDown的id标志 -->
                <div id="my-editormd">
                    <!-- 书写与实时显示的textarea -->
                    <textarea id="my-editormd-markdown-doc" name="my-editormd-markdown-doc"
                              style="display:none;"></textarea>
                    <!-- 用于后端获取md稳当内容，Java中：request.getParameter("my-editormd-html-code")。 -->
                    <textarea id="my-editormd-html-code" name="my-editormd-html-code" style="display:none;"></textarea>
                </div>
            </div>

            <div class="notice-box notice-box-title">
                <i class="am-icon-exclamation-circle"></i>
                <span> 文章标题不能为空</span>
            </div>
            <div class="notice-box notice-box-content">
                <i class="am-icon-exclamation-circle"></i>
                <span> 文章內容不能为空</span>
            </div>
        </div>

    </div>
    <div id="test-editormd">

<textarea style="display:none;">
</textarea>
    </div>
</div>
<div id="fade" class="black_overlay">
</div>
<div class="white_content" tabindex="-1" id="my-alert">
    <div class="am-modal-dialog" style="border-radius: 5px;">
        <div style="text-align: left;margin:auto auto 5px 20px">发布博客
           <!-- <a href="javascript: void(0)" class="am-close am-close-alt am-close-spin" data-am-modal-close
               style="margin: 7px 10px auto auto" onclick="CloseDiv('my-alert','fade')">&times;</a>-->
            <button style="float:right; font-size: 20px;color: #00c4ff;margin-right: 10px;border: none;background: none" onclick="CloseDiv('my-alert','fade')">×</button>

        </div>
        <div class="am-modal-bd">
            <div class="article-setting">
                <div class="article-tag row">
                    <div class="tags">
                        <div class="tag-inline">
                            <label class="publish-tag">文章标签<strong>:</strong></label>
                            <div class="tag">

                            </div>

                            <div class="box">
                                <input name="tagsinput" id="tagsinputval" class="tagsinput" data-role="tagsinput"
                                       value="这是一个标签" placeholder="输入后回车">
                            </div>
                            <span class="required">*</span>
                        </div>
                        <span style="display: block;margin-left:67px;">最多添加5个标签</span>
                    </div>
                </div>
                <div class="article-type row">
                  <!--  <label class="publish-tag">文章类型<strong>:</strong></label>-->
                  <!--  <div class="type">
                        <select id="select-type">
                            <option value="choose" selected>请选择</option>
                            <option value="原创">原创</option>
                            <option value="转载">转载</option>
                        </select>
                        <span class="required">*</span>
                    </div>-->

                    <label class="publish-tag" >博客分类<strong>:</strong></label>
                    <div class="categories">
                        <select id="select-categories">
                            <option value="choose">请选择</option>
                            <option value="前端">前端</option>
                            <option value="数据库">数据库</option>
                            <option value="后端">后端</option>
                            <option value="安卓">安卓</option>
                        </select>
                        <span class="required">*</span>
                    </div>
                </div>
                <div class="articleUrlHide row">
                    <label class="publish-tag" style="display: inline-block">封面图片<strong>:</strong></label>
                    <div class="url" style="display: inline-block">
                        <input type="text" id="articleUrl" placeholder=" 请输入图片链接地址">
                        <span class="required">*</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="am-modal-footer" style="text-align: right;height: 45px">
            <button type="button" class="am-btn am-btn-default am-round" data-am-modal-close style="margin-right: 10px"
                    onclick="CloseDiv('my-alert','fade')">取消
            </button>
            <button type="button" class="am-btn am-btn-default am-round " style="margin: 10px 15px 10px auto">
                发表博客
            </button>
        </div>
    </div>
    <div class="notice-box notice-box-tags">
        <i class="am-icon-exclamation-circle"></i>
        <span> 文章标签不能为空</span>
    </div>
    <div class="notice-box notice-box-type">
        <i class="am-icon-exclamation-circle"></i>
        <span> 文章类型不能为空</span>
    </div>
    <div class="notice-box notice-box-categories">
        <i class="am-icon-exclamation-circle"></i>
        <span> 博客分类不能为空</span>
    </div>
    <div class="notice-box notice-box-grade">
        <i class="am-icon-exclamation-circle"></i>
        <span> 文章等级不能为空</span>
    </div>
    <div class="notice-box notice-box-originalAuthor">
        <i class="am-icon-exclamation-circle"></i>
        <span> 原作者不能为空</span>
    </div>
    <div class="notice-box notice-box-url">
        <i class="am-icon-exclamation-circle"></i>
        <span> 原文链接不能为空</span>
    </div>
</div>

<script type="text/javascript">
    var testEditor;
    //  testEditor.getHTML();
    $(function () {
        testEditor = editormd("test-editormd", {
            width: "100%",
            height: 740,
            syncScrolling: "single",
            path: "../static/lib/",
            saveHTMLToTextarea: true,
            tex: true, // 开启科学公式TeX语言支持，默认关闭
            flowChart: true, // 开启流程图支持，默认关闭
            sequenceDiagram: true, // 开启时序/序列图支持，默认关闭,
            emoji: true,
            /**上传图片相关配置如下*/
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/uploadImage"//注意你后端的上传图片服务地址

        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
<script type="text/javascript">
    //弹出隐藏层
    function ShowDiv(show_div, bg_div) {
        document.getElementById(show_div).style.display = 'block';
        document.getElementById(bg_div).style.display = 'block';
        var bgdiv = document.getElementById(bg_div);
        bgdiv.style.width = document.body.scrollWidth;
        // bgdiv.style.height = $(document).height();
        $("#" + bg_div).height($(document).height());
    };

    //关闭弹出层
    function CloseDiv(show_div, bg_div) {
        document.getElementById(show_div).style.display = 'none';
        document.getElementById(bg_div).style.display = 'none';
    };
</script>
</body>
</html>